html {
  height: 100%;
  width: 100%;
}

h2 {
  font-family: 'Roboto Mono', monospace;
}

.blue-center{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}