<h1>{{ action }} Filmes</h1>

<form method="post">
  {% csrf_token %}
  <div>
    <label>Título:</label>
    <input name="title" value="{{ movie.title }}">
  </div>

  <div>
    <label>Diretor:</label>
    <input name="director" value="{{ movie.director }}">
  </div>

  <div>
    <label>Gênero:</label>
    <input name="genre" value="{{ movie.genre }}">
  </div>

    <div>
    <label>Data de Lançamento:</label>
    <input type="date" name="release_date" value="{{ movie.release_date }}">
  </div>

  <input type="submit" value="Registrar">
</form>